<launch>
    
    <!--- Simulate Time Parameters -->    
    <arg name = "sim"    value = "false" />
    <arg name = "rviz_p" value = "true" />
    <param name = "/use_sim_time" value = "false" /> <!-- use true for simulation simGetSimulationTime -->

    <!--- param -->
    <rosparam command="load" file="$(find ekf_loam)/config/ekf_loam_parameters.yaml" /> 
    <rosparam command="load" file="$(find ekf_loam)/config/vlp_16_sim_parameters.yaml" />
    <rosparam command="load" file="$(find adaptive_filter)/config/adaptive_filter_parameters.yaml" />
    <!--rosparam command="load" file="$(find adaptive_filter)/config/nfn_parameters.yaml" /-->

    <!-- TFs -->
    <include file="$(find ekf_loam)/launch/ekf_loam_tf.launch" />  

    <!-- odom 
    <node pkg="espeleo_locomotion" type="odom.py" name="odom" output="screen" /> 
    <rosparam file="$(find espeleo_locomotion)/config/locomotion_parameters.yaml" command="load" ns=""/>  -->

    <!--- EKF-LOAM --> 
    <node pkg="ekf_loam" 
          type="PreTreatment"    
          name="PreTreatment"    
          output="screen">
	<!--<remap from="/os1_cloud_node/points" to="/velodyne/points2"/> 
        <remap from="/os1_cloud_node/points" to="/os1_cloud_node/points"/> -->
        <remap from="/os1_cloud_node/points" to="/velodyne_points"/>
    </node>
    <node pkg="ekf_loam" 
          type="LiDAROdometry" 
          name="LiDAROdometry" 
          output="screen">
          <remap from="/imu/data" to="/d435i/imu/data"/>
    </node> 
    <node pkg="adaptive_filter" 
          type="EKFAdaptiveFilter"     
          name="EKFAdaptiveFilter"     
          output="screen">
          <remap from="/imu/data" to="/d435i/imu/data"/>
    </node> 
    <node pkg="ekf_loam" 
	  type="TransformOdometry" 
	  name="TransformOdometry_to_filter" 
	  args="foward" 
	  output="screen" >
    </node>         
    <node pkg="ekf_loam" 
	  type="TransformOdometry" 
	  name="TransformOdometry_to_loam" 
	  args="back" 
	  output="screen" >
    </node>
    <node pkg="ekf_loam" 
          type="LiDARMapping"     
          name="LiDARMapping"     
          output="screen">
          <remap from="/imu/data" to="/d435i/imu/data"/>
    </node>    
    <node pkg="ekf_loam" 
          type="IntegrationTransform"    
          name="IntegrationTransform"    
          output="screen">
    </node>  
	
   <!--- Run Rviz  -->
   <node if="$(arg rviz_p)" pkg="rviz" type="rviz" name="rviz_lidar" args="-d $(find ekf_loam)/rviz/ekf_loam_trajectory.rviz" /> 

   <!--node pkg="ekf_loam" type="data_register.py" name="data_register" args="coro" output="screen"/-->

</launch>
