<launch>
    <!--- TF Parameters  -->
    <arg name = "sim"    value = "false" />
    <arg name = "os1_backward_base"       default = "0 0 -0.4025 0 0 0 1"/> <!-- default = "0 0 -0.4025 0 0 0 1" -->
    <arg name = "chassis_forward_os1"     default = "0 0 0.4025 0 0 0 1"/>   <!-- default = "0 0 0.2675 0 0 0 1" -->
    <arg name = "sensor_forward_lidar"    default = "0 0 0.0358 0 0 0 1"/>      <!-- retirar para subir no git -->
   
    <!--- LiDAR SLAM TF -->
    <node pkg    = "tf"
          type   = "static_transform_publisher" 
          name   = "map_os1_init"  
          args   = "$(arg chassis_forward_os1) chassis_init os1_init 200"
	  output = "screen" > 
    </node> 

    <!-- args   = "0 0 0 0.5 0.5 0.5 0.5 os1_init os1_initial 200"-->
    <node pkg    = "tf" 
          type   = "static_transform_publisher" 
          name   = "laser_to_os1_init"  
          args   = "0.15 0 0 0.5 0.5 0.5 0.5 os1_init os1_initial 200" 
	  output = "screen" > 
    </node>
   ´
    <node pkg    = "tf" 
          type   = "static_transform_publisher" 
	  name   = "os1_odom_to_lego_base" 
          args   = "$(arg os1_backward_base) lidar_integrated_odom base_link 200" 
	  output = "screen">
    </node>

    <!-- Simulator TF    
    <node unless="$(arg sim)"
 	  pkg    = "tf" 
          type   = "static_transform_publisher" 
	  name   = "os1_lidar_to_sensor" 
          args   = "$0 0 0.0358 0 0 1 0 os1_sensor os1_lidar 200" 
	  output = "screen">
    </node> 

    <node if="$(arg sim)"
	  pkg    = "tf" 
          type   = "static_transform_publisher" 
	  name   = "os1_lidar_to_sensor" 
          args   = "$0 0 0.0358 0 0 0 1 os1_sensor os1_lidar 200" 
	  output = "screen">
    </node>  

    <node if="$(arg sim)"
	  pkg    = "tf" 
          type   = "static_transform_publisher" 
          name   = "velodyne_to_lidar"  
          args   = "0 0 0 0 0 0 1 os1_lidar velodyneVPL_16 200"
	  output = "screen" > 
    </node> 

    <node pkg    = "tf" 
          type   = "static_transform_publisher" 
          name   = "velodyne_to_lidar"  
          args   = "0 0 0 0 0 0 1 os1_lidar velodyne 200"
	  output = "screen" > 
    </node> --> 

    <!--<node pkg    = "tf" 
          type   = "static_transform_publisher" 
	  name   = "base_init_to_chassis" 
          args   = "$0 0 0.15 0 0 0 1 base_init chassis_init 200" 
	  output = "screen">
    </node> -->
</launch>
